body {
  /* background: #E50914; */
  box-sizing: border-box;
  background-color: #181818;
  color: #fff;
}

/* .net-nav-outer { */
/* background-color: rgba(0, 0, 0, 0.75); */
/* background-color: white; */
/* color: #fff; */
/* } */

.net-nav {
  display: inline-block;
}

.net-nav li {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  margin-left: 1rem;
}

/* .net-nav-list li {
  margin-left: 0.7rem;
} */

/* @media (max-width: 991px) {
  .nav-item {
    margin-left: 2px;
  }

  .nav-link {
    font-size: 0.6rem;
    /* margin-left: 2px; */

@media (min-width: 747px) {
  .net-nav-list li {
    margin-left: 1rem;
  }
  /* .net-nav-list {
    margin-right: -50px;
  } */
}

a,
.btn-style {
  color: rgba(247, 247, 247, 0.568);
  /* text-decoration: none; */
}

a:hover,
.btn-style:hover,
.list li:hover {
  color: rgba(247, 247, 247, 0.849);
  text-decoration: none;
}

h1 {
  /* font-size: larger; */
  font-size: 1.3rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  /* font-weight: bold; */
}

h3 {
  font-size: 0.7rem;
}

.genre-btn {
  border: 1px solid rgba(247, 247, 247, 0.664);
  font-size: 0.7rem;
  width: 4rem;
  text-align: left;
}

.chooseView {
  display: inline-block;
}

.aligntoright {
  margin-left: auto;
  margin-right: 0;
}

.icon-style {
  border: 0.1px solid rgba(247, 247, 247, 0.664);
  display: inline-block;
  width: 1.9rem;
  height: 0.9rem;
  /* margin-bottom: 2px;
  float: right; */
}

.small-icon1,
.small-icon2 {
  position: relative;
}

.small-icon2 {
  left: 8px;
  bottom: 6px;
}

.small-icon1 {
  left: 8px;
  bottom: 6px;
}

.information-section {
  width: 70%;
  margin: auto;
}

.icon-section {
  margin-left: 45px;
}

.sm-icon {
  margin-right: 10px;
  margin-bottom: 10px;
}

.list {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 0.6rem;
  list-style: none;
}

.list li {
  padding: 2px;
  list-style: none;
  color: rgba(247, 247, 247, 0.158);
}

.service-btn {
  border-radius: 1px;
  border: 1px solid rgba(247, 247, 247, 0.158);
  margin-bottom: 50px;
}

.service-btn,
.copyright {
  margin-left: 45px;

  font-size: 0.8rem;
  font-size: 0.6rem;

  padding: 3px;
  color: rgba(247, 247, 247, 0.158);
}
